section.home-1(bg-img="./img/home/bg-1.png").section
	.tagline
		.line
		.title
			h2 Giới thiệu
	.container
		.row.news
			.col-12
				.title-wrapper
					.title
						h2 Metro star - kết nối trọn tinh hoa

			.col-lg-6
				.full-content
					p Metro Star nằm trên trục đường đường chính Xa Lộ Hà Nội ngay điểm kết nối với vành đai 2, qua Phạm Văn Đồng và Mai Chí Thọ là khu vực có dân cư đông đúc và sôi động bậc nhất Quận 9 - tâm điểm của khu đô thị sáng tạo tương lai.
					br
					p Metro Star được đầu tư phát triển bởi Soilbuild Group - Tập đoàn bất động sản tích hợp hàng đầu Singapore liên doanh với C.T Group - Tập đoàn đa ngành hàng đầu Việt Nam mang đến một “siêu phẩm” có thiết kế độc đáo về kiến trúc, chất lượng xây dựng tiêu chuẩn Singapore và 100+ tiện ích đậm chất quốc đảo sư tử. Metro Star mang đến giá trị đầu tư vượt trội và là nơi kết nối một cộng đồng văn minh, hiện đại với những cư dân quốc tế đến từ khắp nơi trên thế giới.
					br
					p Sống tại Metro Star là những ngày trải nghiệm trọn vẹn cuộc sống trong một hệ sinh thái cân bằng và nhân văn. Metro Star - nơi an cư xứng tầm của một cộng đồng thịnh vượng.
				.news-images
					a(href="javascript:void(0)")
						img(src="./img/home/1_1.png", alt="")
					a(href="javascript:void(0)")
						img(src="./img/home/1_2.png", alt="")
					a(href="javascript:void(0)")
						img(src="./img/home/1_3.png", alt="")
				.viewmore-btn
					a(href="javascript:void(0)") Xem thêm
			.col-lg-6
				.box-zoom
					img(src="./img/home/1_4.png", alt="")