section.home-2(bg-img="./img/home/bg-2.png").section
	.tagline
		.line
		.title
			h2 Vị trí
	.container
		.row.news
			.col-lg-6
				.title-wrapper
					.title
						h2 Metro Star - Kết nối trạm số 10 và ga trung tâm Quận 1
				.full-content
					p Metro Star tọa lạc tại 360 Xa Lộ Hà Nội, Quận 9 - đoạn đẹp nhất trên cung đường Xa Lộ Hà Nội. Metro Star là dự án duy nhất có cầu vượt bộ hành nối thẳng từ tầng 2 của Dự án (Khu Trung tâm thương mại) băng ngang qua XLHN để  đi vào trạm số 10 Metro, chỉ 10 phút sau bạn đã có mặt ở trung tâm Quận 1.
					br
					p Nhờ nằm ở phía đối diện ga metro với bãi cỏ rộng mêng mông và công viên thoáng đãng phía trước, khu căn hộ tránh được tiếng ồn từ ga metro cũng như XLHN - điều mà các dự án nằm cùng phía với đường tàu không thể có được. Bao quanh dự án là các khu vực tiện ích như trung tâm thương mại, bệnh viện, trường học… nên không có nơi nào lợi nhuận tương lai nhiều hơn bất động sản ngay tại Ga Metro.
					br
				.viewmore-btn
					a(href="javascript:void(0)") Xem thêm
			.col-lg-6
				.box-zoom
					img(src="./img/home/2_1.png", alt="")