section.banner-trangchu
	.swiper-container
		.swiper-button-prev
			i.lnr.lnr-chevron-left
		.swiper-button-next
			i.lnr.lnr-chevron-right
		.swiper-wrapper
			.swiper-slide
				figure
					.box-zoom
						img(src="./img/home/1.png", alt="")
					figcaption
						.title
							h2 kết nối trọn tinh hoa
						.description
							p Singapore
					.overlay
					.video
						a(href="https://www.youtube.com/watch?v=ecgRm1fbMwA" data-fancybox)
							img(src="./img/_global/play.png", alt="")
			.swiper-slide
				figure
					.box-zoom
						img(src="./img/home/1.png", alt="")
					figcaption
						.title
							h2 kết nối trọn tinh hoa
						.description
							p Singapore
					.overlay
		.swiper-pagination