section.home-5.section(bg-img="./img/home/bg-5.png")
	article.news
		.container
			.row
				.col
					.title
						h2.text-center Tin tức
			.row
				.col-md-6.main-news
					a(href="javascript:void(0)").h-100
						figure.h-100
							.box-zoom.h-100
								img(src="./img/home/5_1.png", alt="").h-100
							figcaption
								.time
									p 06.12.2019
								.title
									h3 Metro Star - KHÔNG GIAN TUYỆT HẢO ĐỂ SUM VẦY BÊN NGƯỜI THÂN
				.col-md-6
					.row
						.col-12.sub-news.mt-4.mt-md-0
							a(href="javascript:void(0)")
								figure
									.box-zoom
										img(src="./img/home/5_2.png", alt="")
									figcaption
										.time
											p 06.12.2019
										.title
											h3 Metro Star - KHÔNG GIAN TUYỆT HẢO ĐỂ SUM VẦY BÊN NGƯỜI THÂN
						.col-12.sub-news
							a(href="javascript:void(0)")
								figure
									.box-zoom
										img(src="./img/home/5_3.png", alt="")
									figcaption
										.time
											p 06.12.2019
										.title
											h3 Metro Star - KHÔNG GIAN TUYỆT HẢO ĐỂ SUM VẦY BÊN NGƯỜI THÂN
	article.footer-wrapper
		a(href="#section1").backtotop
			img(src="./img/_global/backtotop.png", alt="")
		.container
			.row
				.col-sm-12.col-lg-4.mb-4.mb-lg-0
					.logo
						a(href="javascript:void(0)")
							img(src="./img/_global/logo.png", alt="")
					.title
						p kết nối trọn tinh hoa
						p Singapore
					.copyright
						p &#169; 2018 bản quyền thuộc về Metro Star.
				.col-sm-6.col-lg-4.mb-4.mb-sm-0
					.title-2
						h2 Liên hệ
					.hotline
						i.mdi.mdi-phone-in-talk
						span Hotline 090 789 65 65
					.address
						i.mdi.mdi-map-marker
						span Địa chỉ: 360 Xa Lộ Hà Nội, P. Phước Long A, Quận 9, Tp. HCM
					.mail
						i.mdi.mdi-email
						span support@metrostar.vn
				.col-sm-6.col-lg-4
					.title-2
						h2 Đăng ký nhận thông tin
					.wrap-form
						.form-group
							input(type="text" placeholder="HỌ VÀ TÊN")
						.form-group
							input(type="text" placeholder="EMAIL")
						.form-group
							input(type="text" placeholder="SỐ ĐIỆN THOẠI")
					.form-group.frm-btnwrap
						label &nbsp;
						.frm-btn
							input(type="submit" value="GỬI")
							input(type="reset")
