header.canhcam-header-1

	section.header-container(bg-img="./img/_global/bg_header.png")
		.container
			.row
				.col
					.desktop-header
						.logo
							a(href="javascript:void(0)")
								img(src="./img/_global/logo.png", alt="")
						article.nav-wrapper
							.tool-nav
								.phone
									a(href="tel:0907896565")
										i.mdi.mdi-phone 
										span 090 789 65 65
								.search
									.search-toggle
										i.mdi.mdi-magnify
										i.mdi.mdi-close
									.searchbox
										input(type="text").searchinput
										button.searchbutton
											i.mdi.mdi-magnify
								.social
									a(href="javascript:void(0)")
										i.fab.fa-facebook-f
								.language
									a(href="javascript:void(0)").active VN
									.separator
									a(href="javascript:void(0)") EN
							.zone-nav
								a(href="javascript:void(0)") Tổng quan
								a(href="javascript:void(0)") Vị trí
								a(href="javascript:void(0)") Mặt bằng
								a(href="javascript:void(0)") Tiện ích
								a(href="javascript:void(0)") Thư viện
								a(href="javascript:void(0)") Truyền thông
								a(href="javascript:void(0)") Liên hệ
		
						button.hamburger.hamburger--emphatic(type='button')
							span.hamburger-box
								span.hamburger-inner
	.sidemenu-wrapper
		.sidemenu-tools-nav
	.sidemenu-backdrop