section.home-4(bg-img="./img/home/bg-4.png").section
	.tagline
		.line
		.title
			h2 Mặt bằng
	.container
		.row.news
			.col-lg-6
				.title-wrapper
					.title
						h2 Cảm hứng “nghỉ dưỡng” &amp; thiết kế sao 3 cánh
				.full-content
					p Cảm hứng “căn hộ nghỉ dưỡng” và những tuyệt tác kiến trúc Singapore cho ra đời thiết kế sao 3 cánh độc đáo và duy nhất của Metro Star. Điểm nhấn sáng tạo tuyệt vời này giúp cho tất cả các căn hộ ở cả 2 tòa tháp đều có bancon và đón nắng, gió tự nhiên. Đây là kiểu thiết kế chỉ thường xuất hiện ở các condotel tại những khu resort 5 sao ven biển. Với sự kết hợp hoàn hảo giữa vẻ đẹp thiên nhiên, thiết kế độc đáo và 100+ sao tiện ích, cư dân Metro Star có đặc quyền tận hưởng từng khoảnh khắc của một kỳ nghỉ thực thụ ở “resort” tại gia.
					br
				.viewmore-btn
					a(href="javascript:void(0)") Xem thêm
			.col-lg-6
				.box-zoom
					img(src="./img/home/4_1.png", alt="")