section.home-3(bg-img="./img/home/bg-3.png").section
	.tagline
		.line
		.title
			h2 Tiện ích
	.container
		.row.news
			.col-lg-6
				figure
					.box-zoom
						img(src="./img/home/3_1.png", alt="")
				.title-wrapper
					.title
						h2 100+ S&#9734;O tiện ích
				.full-content
					p Metro Star mang đến 100+ sao tiện ích hoàn hảo đậm chất Singapore: hồ bơi vô cực, vườn thảo mộc, vườn tạo hình, sky garden, sky lounge, khu trị liệu và chăm sóc sức khỏe, không gian sinh hoạt cộng đồng… phục vụ mọi nhu cầu mua sắm, thư giãn, ăn uống, vui chơi giải trí và tận hưởng cuộc sống của những cư dân thành thị hiện đại. Một môi trường sống thân thiện, chan hòa giữa nhiên nhiên của những cư dân nhân văn và tinh tế.
					br
				.viewmore-btn
					a(href="javascript:void(0)") Xem thêm
			.col-lg-6
				.box-zoom
					img(src="./img/home/3_2.png", alt="")